body {
    background-color: khaki;}
body {
    font-family: serif;}
h1 {
    font-size: 50
}
p {
    font-family: sans-serif;

}
body {
background-image: url("../pics/logo.png");
background-repeat: no-repeat;
    background-position: top right;
}
body {
   
}
#Economics {background-color: gold}
#Politics {background-color: pink}
#Mathematics {background-color: salmon}
#ComputerScience {background-color: palegreen}
#landing {background-color: peachpuff}
th {
    border-width: medium;
    border-style: groove
}
td {border-width: medium;
border-style: groove}